body {
	 font-family: 'Montserrat', sans-serif;;
}

#navigation .navbar-brand img{
	height: 1.5rem;
}


.banner-height {
 height: 85vh;
}

@media screen and (max-width:765px) {
	.banner-height{
		height: 60vh;
	}
	
}



/**Fix this 
@media screen and (max-width:533px) {
	header h1.welcome{		
	}
}
**/







header.banner {
	background-image: url(./startbootstrap-agency-gh-pages/assets/img/header-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bd {
	border:1px solid red;
}

#navigation button span {
	font-size: 0.75rem;
} 


#services .row i{
	padding: 2rem;
	font-size: 4rem;
}



